{% load static %}
<section class="ftco-section" id="menu">
  <div class="container">
    <div class="row no-gutters justify-content-center mb-5 pb-2">
      <div class="col-md-12 text-center heading-section ftco-animate">
        <span class="subheading">Detalle Menu</span>
        <h2 class="mb-4">Filetes de pollo con ensalada</h2>
      </div>
    </div>
    <div class="col-md-12 d-flex align-self-stretch">
      <div class="menus d-sm-flex ftco-animate align-items-stretch">
        <div class="menu-img" style="background-image: url({% static 'images/breakfast-2.jpg' %}); background-size: contain; background-repeat: no-repeat; background-position: top;"></div>
        <div class="text d-flex align-items-center ml-4">
          <div class="">
            <div class="d-flex align-items-center">
              <div class="one-half">
                <a href="#" class="btn btn-primary mb-2">Agregar al pedido</a>
              </div>
              <div class="one-forth">
                <span class="price text-danger" style="font-size: 24px; font-weight: bold;">$5.990</span>
              </div>
            </div>

            <p>Disfruta de una deliciosa combinación de sabores y texturas con nuestros filetes de pollo con ensalada. Cada bocado es una explosión de frescura y nutrición.</p>
            <p>Los filetes de pollo están cuidadosamente preparados con ingredientes de calidad, garantizando un sabor jugoso y tierno. Su textura crujiente por fuera y su carne tierna por dentro los convierten en una opción perfecta para los amantes del pollo.</p>
            <p>Acompañamos los filetes de pollo con una refrescante ensalada compuesta por pepino, tomate y albahaca. Estos ingredientes se combinan para crear una ensalada ligera y llena de sabor. El pepino aporta frescura, el tomate añade jugosidad y la albahaca agrega un toque de aroma y complejidad a cada bocado.</p>
            <br>
            <div class="sidebar-box ftco-animate fadeInUp ftco-animated mb-0">
              <ul class="tagcloud m-0 p-0">
                <a href="#" class="tag-cloud-link">Desayuno</a>
                <a href="#" class="tag-cloud-link">Pollo</a>
                <a href="#" class="tag-cloud-link">Pepino</a>
                <a href="#" class="tag-cloud-link">Tomate</a>
                <a href="#" class="tag-cloud-link">Albahaca</a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>