{% load static %}
<section class="ftco-section img" style="background-image: url({% static 'images/bg_3.jpg' %})" data-stellar-background-ratio="0.5" id="contact">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-7 ftco-animate makereservation p-4 px-md-5 pb-md-5">
          <div class="heading-section ftco-animate mb-5 text-center">
            <span class="subheading">Contáctanos</span>
            <h2 class="mb-4">Formulario de Contacto</h2>
          </div>
          <form action="#">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Nombre</label>
                  <input type="text" class="form-control" placeholder="Su Nombre">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Correo electrónico</label>
                  <input type="text" class="form-control" placeholder="Su Email">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Mensaje</label>
                  <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Su Mensaje"></textarea>
                </div>
              </div>
              <div class="col-md-12 mt-3">
                <div class="form-group text-center">
                  <input type="submit" value="Enviar" class="btn btn-primary py-3 px-5">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>