{% load static %}
<section class="ftco-section ftco-wrap-about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-7 d-flex">
        <div class="img img-1 mr-md-2" style="background-image: url({% static 'images/about.jpg' %});"></div>
        <div class="img img-2 ml-md-2" style="background-image: url({% static 'images/about-1.jpg'%});"></div>
      </div>
      <div class="col-md-5 wrap-about pt-5 pt-md-5 pb-md-3 ftco-animate">
        <div class="heading-section mb-4 my-5 my-md-0">
          <span class="subheading">Nosotros</span>
          <h2 class="mb-4">Alimentos Santiago</h2>
        </div>
        <p>En Alimentos Santiago, nos enfocamos en atender a dos tipos de clientes: aquellos que realizan pedidos a domicilio y aquellos que prefieren visitar nuestro restaurante. Para los pedidos a domicilio, contamos con un equipo de recepcionistas y repartidores dedicados a brindar un servicio eficiente y oportuno. Por otro lado, en nuestro restaurante, nuestros amables garzones se encargan de tomar los pedidos y asegurarse de que nuestros clientes disfruten de una comida de calidad en un ambiente acogedor.</p>
        <pc class="time">
          <span>Lunes a Sabado de<strong> 8:00 - 22:00 Horas</strong></span>
          <span><a href="#">+56 9 5223 4198</a></span>
          </p>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section ftco-counter img ftco-no-pt" id="section-counter">
  <div class="container">
    <div class="row d-md-flex">
      <div class="col-md-9">
        <div class="row d-md-flex align-items-center">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text">
                <strong class="number" data-number="10">0</strong>
                <span>Años de Experiencia</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text">
                <strong class="number" data-number="100">0</strong>
                <span>Platos disponibles</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text">
                <strong class="number" data-number="15">0</strong>
                <span>Personal</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text">
                <strong class="number" data-number="15000">0</strong>
                <span>Clientes Felices</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center text-md-left">
        <p>Una trayectoria culinaria de excelencia respalda nuestra pasión por la cocina...</p>
      </div>
    </div>
  </div>
</section>